body {
    font-family: 'Roboto', sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
}

html, body {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.about-us-container {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.about-us-banner {
    color: Black;
    text-align: center;
    padding: 22px 0;
    border-radius: 33px;
    margin-top: 1rem;
}

.about-us-banner h1 {
    margin: 0;
    font-size: 3em;
    font-weight: bold;
    font-family: 'Josef', sans-serif;
}

.about-us-content {
    flex: 1;
    background: white;
    padding: 40px;
    margin: 20px;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    overflow-y: auto;
}

.about-us-content .section {
    margin-bottom: 40px;
}

.about-us-content h2 {
    font-size: 2.5em;
    color: #333;
    margin-bottom: 20px;
    text-align: left;
    font-family: 'Josef', sans-serif;
}

.about-us-content p {
    font-size: 1.2em;
    color: #666;
    line-height: 1.8;
}

.team {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 30px;
    gap: 40px;
}

.team-member {
    text-align: center;
    max-width: 250px;
    background: #f7f7f7;
    padding: 30px 20px;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.team-member:hover {
    transform: translateY(-5px);
}

.team-member img {
    width: 100%;
    border-radius: 50%;
    margin-bottom: 20px;
}

.team-member h3 {
    margin: 0;
    font-size: 1.8em;
    color: #333;
}

.team-member p {
    margin: 0;
    font-size: 1.2em;
    color: #666;
    font-weight: bold;
}

@media (max-width: 1200px) {
    .about-us-banner h1 {
        font-size: 2.5em;
    }

    .about-us-content h2 {
        font-size: 2em;
    }

    .about-us-content p {
        font-size: 1.1em;
    }

    .team-member h3 {
        font-size: 1.5em;
    }

    .team-member p {
        font-size: 1em;
    }
}

@media (max-width: 992px) {
    .about-us-banner h1 {
        font-size: 2em;
    }

    .about-us-content {
        padding: 30px;
    }

    .about-us-content h2 {
        font-size: 1.8em;
    }

    .about-us-content p {
        font-size: 1em;
    }

    .team-member h3 {
        font-size: 1.4em;
    }

    .team-member p {
        font-size: 0.9em;
    }
}

@media (max-width: 768px) {
    .about-us-banner h1 {
        font-size: 1.8em;
    }

    .about-us-content {
        padding: 20px;
        margin: 10px;
    }

    .about-us-content h2 {
        font-size: 1.5em;
    }

    .about-us-content p {
        font-size: 0.9em;
    }

    .team-member h3 {
        font-size: 1.2em;
    }

    .team-member p {
        font-size: 0.8em;
    }
    
    .team {
        flex-direction: column;
        align-items: center;
    }

    .team-member {
        max-width: 100%;
        margin-bottom: 30px;
    }
}

@media (max-width: 480px) {
    .about-us-banner h1 {
        font-size: 1.5em;
    }

    .about-us-content {
        padding: 10px;
        margin: 5px;
    }

    .about-us-content h2 {
        font-size: 1.2em;
    }

    .about-us-content p {
        font-size: 0.8em;
    }

    .team-member h3 {
        font-size: 1em;
    }

    .team-member p {
        font-size: 0.7em;
    }
}

@media (max-width: 360px) {
    .about-us-banner h1 {
        font-size: 1.2em;
    }

    .about-us-content {
        padding: 8px;
        margin: 4px;
    }

    .about-us-content h2 {
        font-size: 1em;
    }

    .about-us-content p {
        font-size: 0.7em;
    }

    .team-member h3 {
        font-size: 0.9em;
    }

    .team-member p {
        font-size: 0.6em;
    }
}
